:root{
    --main-bg-color: #7EC8E3;
    --secondary-bg-color: #0000FF;
    --third-color:#2E838C;
    --alter-mid-color:#000C66;
    --text-color:#050A30;
    --primary-font:'Roboto', sans-serif;
    --transition-duration:500ms;
}

body{
    background-color: var(--main-bg-color);
    overflow: hidden;
    padding: 0;
    font-family: var(--primary-font);
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    padding: 15px;
    background-color: var(--main-bg-color);
}
#logo{
    padding: 10px 0 0 10px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: auto;
    padding-left: 25px;
}
nav ul a {
    margin-left: 25px;
    padding:10px 20px 10px 20px;
    color:var(--text-color);
    text-decoration: none;
    font-weight: 800;
    transition:var(--transition-duration);
}
nav ul a:hover{
    background-color: var(--alter-mid-color);
    color: var(--main-bg-color);
}

.login{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}

.login #loginBtn,#demoLink{
    display: block;
    padding: 10px 15px 10px 15px;
}

.login #loginBtn{
    background: var(--main-bg-color);
    color: var(--text-color);
    border: none;
    font-weight: 800;
    transition-duration: var(--transition-duration);
}

.login #loginBtn:hover{
    background-color: var(--secondary-bg-color);
    color: var(--main-bg-color);
}

#demoLink{
    color: var(--secondary-bg-color);
    text-decoration: none;
    border-left: #293040;
    margin-left: 15px;
    border-radius: 10px;
    transition:var(--transition-duration);
}

#demoLink:hover{
    color: var(--main-bg-color);
    background-color: var(--text-color);
}